QTabWidget::pane {
    border: 1px solid lightgray;
    top: -1px;
    background: rgb(245, 245, 245);
}

QTabBar::tab {
    background: rgb(230, 230, 230);
    border: 1px solid lightgray;
    margin-right: 10px;
    padding: 5px 10px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

QTabBar::tab:selected {
    background: rgb(245, 245, 245);
    margin-bottom: -1px;
}

QTreeWidgetItem {
    margin: 20px;
    background-color: red;
}